{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{deps, [
	{jiffy, ".*", {git, "https://github.com/davisp/jiffy"}},
	{cowboy, ".*", {git, "https://github.com/extend/cowboy"}},
	{cowboy_session, ".*", {git, "git@github.com:dronowar/cowboy_session.git"}},
	{sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.
