[{elr, [

]},
{pgapp, [
    {pools, [
        {pgdb, [
                {size, 5},
                {max_overflow, 20}
            ],
            [
                {host, "localhost"},
                {database, "erl"},
                {username, "postgreserlang"},
                {password, "5RZz(8e^y.N(+y_H"}
            ]}
        ]
    }]
}].